@using TutoringApp.Models
@using TutoringApp.Services

@inject IMeetingService MeetingService
@inject DialogService dialogService
@inject NotificationService NotificationService
<div style="min-height: 100%;position:relative;">
    <div style="padding-bottom: 50px;">
        <div class="row pb-2">
            <div class="col">
                <div class="align-items-baseline d-flex">
                    <RadzenLabel Text="Data" />
                </div>
                <div>
                    <RadzenDatePicker @bind-Value=@meeting.Date
                                      DateFormat="d"
                                      Max="DateTime.Today"
                                      Class="w-100 mt-2" />
                </div>
            </div>
            <div class="col">
                <div class="align-items-baseline d-flex">
                    <RadzenLabel Text="Tipo de contacto" />
                </div>
                <div>
                    <RadzenDropDown @bind-Value="meeting.TypeContact"
                                    AllowClear="true"
                                    Placeholder="Selecione uma opção"
                                    Data="@cards"
                                    Class="w-100">
                    </RadzenDropDown>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="align-items-baseline d-flex col-md-3">
                <RadzenLabel Text="Assunto" />
            </div>
            <div class="col-md-9">
                <RadzenDropDown @bind-Value="meeting.Subject"
                                AllowClear="true"
                                Placeholder="Selecione um assunto"
                                Data="@subjectDropDown"
                                Class="w-100">
                </RadzenDropDown>
            </div>
        </div>
        <div class="row py-2">
            <div class="align-items-baseline d-flex col-md-3">
                <RadzenLabel Text="Descrição" />
            </div>
            <div class="col-md-9">
                <RadzenTextArea @bind-Value="meeting.Description"
                                Placeholder="Descrição da reunião"
                                style="width: 100%;"
                                Name="Descrição" />
            </div>
        </div>
    </div>
    <div class="col">
        <RadzenButton Text="Registar"
                        ButtonStyle="ButtonStyle.Primary"
                        Disabled="@MeetingIsEmpty"
                        Class="me-1"
                        Click="@Submit" />
        <RadzenButton Text="Cancelar"
                        ButtonStyle="ButtonStyle.Light"
                        Class="me-1"
                        Click="@((args) => dialogService.Close())" />
    </div>
</div>


@code {
    [Parameter]
    public int GroupId { get; set; }
    [Parameter]
    public List<(Enrollement Enrollement, int GroupId, string lastMeeting)> Enrollments { get; set; }

    public Meeting meeting = new Meeting { Date = DateTime.Now };

    List<string> cards = new List<string>
    {
        "Reunião presencial individual","Reunião presencial em grupo","Videoconferência","Email","Telefone","SMS", "Outro"
    };
    List<string> subjectDropDown = new List<string>
    {
        "Informações gerais",
        "Dificuldades na integração",
        "Funcionamento do curso",
        "Funcionamento dos Serviços da UTAD",
        "Necessidade de apoio psicológico",
        "Dificuldades económicas",
        "Dificuldades em acompanhar as matérias lecionadas",
        "Dificuldade na planificação e gestão do estudo",
        "Dificuldade na planificação e preparação dos exames",
        "Avaliação",
        "Assiduidade e pontualidade às aulas",
        "Outro",
    };

    void Submit()
    {
        if (GroupId == 0) // In case it is a group meeting
        {
            List<Enrollement> enrollements = Enrollments.Select(e => e.Enrollement).ToList();
            MeetingService.CreateGroupMeeting(meeting, enrollements);
            dialogService.Close(enrollements.Count);
        }
        else // Individual meeting
        {
            this.meeting.GroupId = this.GroupId;
            MeetingService.CreateMeeting(meeting);
            dialogService.Close(meeting);
        }

    }
    private bool MeetingIsEmpty => meeting.Subject == null
                                    || meeting.TypeContact == null;
}
